In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv(r"C:\Users\Dell\Desktop\PewDiePie.xls")
df.head(10)

   Date  Subscribers
0     1        71915
1     2        48270
2     3        47746
3     4        42276
4     5        36867
5     6        28722
6     7        29794
7     8        33125
8     9        27877
9    10        30675

In [5]:
x = df.iloc[:, :-1]
y = df.iloc[:, 1]

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state = 0)

In [7]:
simplelinearRegression = LinearRegression()
simplelinearRegression.fit(x_train,y_train)

LinearRegression()

In [8]:
y_predict = simplelinearRegression.predict(x_test)

In [9]:
predict = pd.DataFrame(y_predict)

In [10]:
predict.apply(np.round)

         0
0  31042.0
1  47086.0
2  30098.0
3  40480.0
4  38592.0
5  31985.0

In [11]:
i = 21
while i<= 28:
    print("Total number of increase in subscribers on May %d ==>" %(i), int(simplelinearRegression.predict([[i]])))
    i = i+1

Total number of increase in subscribers on May 21 ==> 29154
Total number of increase in subscribers on May 22 ==> 28210
Total number of increase in subscribers on May 23 ==> 27266
Total number of increase in subscribers on May 24 ==> 26322
Total number of increase in subscribers on May 25 ==> 25378
Total number of increase in subscribers on May 26 ==> 24434
Total number of increase in subscribers on May 27 ==> 23491
Total number of increase in subscribers on May 28 ==> 22547